<a href="https://colab.research.google.com/github/stevejj4/Global-AI-Job-Market-Trends-Salary-Insights-2025/blob/main/ai_job_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import auth #Authorizing google colab
auth.authenticate_user()
import gspread #credentials for google sheet
from google.auth import default
creds,_ = default()
gc = gspread.authorize(creds) #Authorizing the connection
import pandas as pd
worksheet = gc.open('ai_job_dataset').sheet1 #defining the worksheet
rows = worksheet.get_all_values() #getting all values in list of row
df = pd.DataFrame(rows)
df.columns = df.iloc[0] #creating columns name
df = df.iloc[1:]

In [ ]:
#columns available
df.columns

Index(['job_id', 'job_title', 'salary_usd', 'salary_currency',
       'experience_level', 'employment_type', 'company_location',
       'company_size', 'employee_residence', 'remote_ratio', 'required_skills',
       'education_required', 'years_experience', 'industry', 'posting_date',
       'application_deadline', 'job_description_length', 'benefits_score',
       'company_name'],
      dtype='object', name=0)

In [ ]:
#AI job value chain
#How many job titles are we studying?
#Arrange from high to low
df['job_title'].value_counts()

job_title
Machine Learning Researcher    808
AI Software Engineer           784
Autonomous Systems Engineer    777
Machine Learning Engineer      772
AI Architect                   771
Head of AI                     765
NLP Engineer                   762
Robotics Engineer              759
Data Analyst                   759
AI Research Scientist          756
Data Engineer                  749
AI Product Manager             743
Research Scientist             742
Principal Data Scientist       734
AI Specialist                  728
ML Ops Engineer                725
Computer Vision Engineer       724
Data Scientist                 720
Deep Learning Engineer         718
AI Consultant                  704
Name: count, dtype: int64

In [20]:
# average salary per job_title
df['salary_usd'] = pd.to_numeric(df['salary_usd'], errors='coerce')
df.groupby('job_title')['salary_usd'].mean().sort_values(ascending=False)

job_title
AI Specialist                  120570.758242
Machine Learning Engineer      118827.919689
Head of AI                     118542.968627
AI Research Scientist          117897.925926
AI Architect                   117436.513619
Robotics Engineer              116470.793149
Principal Data Scientist       116305.219346
Research Scientist             116066.502695
Data Engineer                  115970.720961
Data Scientist                 115819.008333
ML Ops Engineer                115431.335172
AI Product Manager             114680.909825
AI Software Engineer           114273.201531
Deep Learning Engineer         113725.632312
AI Consultant                  113671.870739
Computer Vision Engineer       113472.707182
NLP Engineer                   112670.937008
Machine Learning Researcher    112621.747525
Autonomous Systems Engineer    111396.557272
Data Analyst                   111321.180501
Name: salary_usd, dtype: float64

In [21]:
#an analysis on currency
df['salary_currency'].value_counts()

salary_currency
USD    11957
EUR     2314
GBP      729
Name: count, dtype: int64

In [22]:
#salary analysis based on experince_level
df.groupby('experience_level')['salary_usd'].mean().sort_values(ascending=False)

experience_level
EX    187723.647340
SE    122187.657845
MI     87955.471833
EN     63133.377084
Name: salary_usd, dtype: float64

In [25]:
# how employment_type is affected with job title of vice versa
# Calculate the counts of each employment type for each job title
employment_counts = df.groupby(['job_title', 'employment_type']).size().unstack(fill_value=0)

# Calculate the percentage of each employment type within each job title
employment_percentages = employment_counts.apply(lambda x: x / x.sum(), axis=1)

# Display the result
display(employment_percentages)

employment_type                    CT        FL        FT        PT
job_title
AI Architect                 0.226978  0.229572  0.287938  0.255512
AI Consultant                0.255682  0.261364  0.237216  0.245739
AI Product Manager           0.244953  0.243607  0.259758  0.251682
AI Research Scientist        0.252646  0.260582  0.250000  0.236772
AI Software Engineer         0.241071  0.262755  0.260204  0.235969
AI Specialist                0.234890  0.270604  0.241758  0.252747
Autonomous Systems Engineer  0.268983  0.236808  0.268983  0.225225
Computer Vision Engineer     0.252762  0.247238  0.252762  0.247238
Data Analyst                 0.250329  0.243742  0.245059  0.260870
Data Engineer                0.241656  0.277704  0.234980  0.245661
Data Scientist               0.240278  0.226389  0.265278  0.268056
Deep Learning Engineer       0.242340  0.257660  0.236769  0.263231
Head of AI                   0.250980  0.256209  0.240523  0.252288
ML Ops Engineer              0.248276  0.295172  0.220690  0.235862
Machine Learning Engineer    0.268135  0.238342  0.273316  0.220207
Machine Learning Researcher  0.241337  0.233911  0.269802  0.254950
NLP Engineer                 0.233596  0.248031  0.262467  0.255906
Principal Data Scientist     0.241144  0.243869  0.260218  0.254768
Research Scientist           0.261456  0.223720  0.268194  0.246631
Robotics Engineer            0.263505  0.256917  0.241107  0.238472

In [27]:
# Analyze the relationship between job_title and company_location
job_location_counts = df.groupby(['job_title', 'company_location']).size().unstack(fill_value=0)

# Transpose the table to have company_location as rows and job_title as columns
job_location_counts_transposed = job_location_counts.T

# Display the transposed result
display(job_location_counts_transposed)

job_title,AI Architect,AI Consultant,AI Product Manager,AI Research Scientist,AI Software Engineer,AI Specialist,Autonomous Systems Engineer,Computer Vision Engineer,Data Analyst,Data Engineer,Data Scientist,Deep Learning Engineer,Head of AI,ML Ops Engineer,Machine Learning Engineer,Machine Learning Researcher,NLP Engineer,Principal Data Scientist,Research Scientist,Robotics Engineer
company_location,,,,,,,,,,,,,,,,,,,,
Australia,35,36,34,44,33,30,40,42,36,42,30,39,34,43,32,39,39,33,35,36
Austria,43,25,45,40,44,39,28,42,40,41,52,38,32,37,44,38,35,37,36,29
Canada,41,38,43,33,38,34,49,37,32,34,45,38,40,30,34,39,43,32,45,44
China,36,35,32,34,48,50,57,33,33,31,38,34,47,36,44,35,33,31,32,44
Denmark,26,46,38,57,37,39,35,41,39,30,34,33,38,29,45,36,39,46,53,37
Finland,34,38,34,32,38,41,46,37,40,33,32,26,36,37,38,37,42,38,32,42
France,34,30,41,40,47,38,41,41,46,38,26,40,30,35,43,38,37,40,38,46
Germany,32,48,46,30,37,38,41,40,34,45,41,32,58,50,39,45,39,36,43,40
India,46,33,31,39,42,31,42,28,38,51,37,43,38,35,42,40,41,30,34,33
Ireland,37,36,36,34,40,37,47,30,36,38,28,36,54,28,36,48,40,30,38,41
Israel,40,33,35,42,36,34,36,38,46,32,39,39,32,33,42,40,41,38,37,38
Japan,35,26,38,43,42,38,26,34,37,30,29,34,38,39,40,58,35,34,35,42
Netherlands,49,35,25,29,44,26,26,42,41,46,39,30,31,43,41,34,39,34,39,38
Norway,33,40,24,37,30,33,37,31,37,46,30,43,39,38,42,51,31,32,42,25
Singapore,45,30,51,43,30,46,44,34,38,39,28,34,36,33,37,40,50,40,28,38
South Korea,44,37,32,31,39,28,37,35,32,42,32,42,39,35,39,43,31,32,38,34
Sweden,40,39,33,41,49,31,32,32,39,38,39,37,33,43,37,41,32,40,41,35
Switzerland,37,33,31,41,36,43,40,47,35,28,44,36,35,41,35,36,37,45,30,36
United Kingdom,43,34,58,26,41,30,33,36,38,28,34,31,37,30,32,39,43,44,31,41
United States,41,32,36,40,33,42,40,24,42,37,43,33,38,30,30,31,35,42,35,40

In [28]:
from google.colab import sheets
sheet = sheets.InteractiveSheet(df=job_location_counts_transposed)

https://docs.google.com/spreadsheets/d/1FbH296BjFPu2PYwvAsLWioHTZIhTd6JN4kAKkAVP3xM/edit#gid=0

In [35]:
%%bash
echo "# Global-AI-Job-Market-Trends-Salary-Insights-2025" >> README.md
git init
git add README.md
git commit -m "first commit"
git branch -M main
git remote remove origin
git remote add origin https://<YOUR_GITHUB_TOKEN>@github.com/stevejj4/Global-AI-Job-Market-Trends-Salary-Insights-2025.git
git push -u origin main

Reinitialized existing Git repository in /content/.git/
[main d00a52e] first commit
 1 file changed, 1 insertion(+)

error: No such remote: 'origin'
bash: line 7: YOUR_GITHUB_TOKEN: No such file or directory
fatal: 'origin' does not appear to be a git repository
fatal: Could not read from remote repository.

Please make sure you have the correct access rights
and the repository exists.

CalledProcessError: Command 'b'echo "# Global-AI-Job-Market-Trends-Salary-Insights-2025" >> README.md\ngit init\ngit add README.md\ngit commit -m "first commit"\ngit branch -M main\ngit remote remove origin\ngit remote add origin https://<YOUR_GITHUB_TOKEN>@github.com/stevejj4/Global-AI-Job-Market-Trends-Salary-Insights-2025.git\ngit push -u origin main\n'' returned non-zero exit status 128.

In [41]:
%%bash
git remote set-url origin https://<YOUR_GITHUB_TOKEN>@github.com/stevejj4/Global-AI-Job-Market-Trends-Salary-Insights-2025.git
git branch -M main
git push -u origin main

bash: line 1: YOUR_GITHUB_TOKEN: No such file or directory
fatal: could not read Username for 'https://github.com': No such device or address

CalledProcessError: Command 'b'git remote set-url origin https://<YOUR_GITHUB_TOKEN>@github.com/stevejj4/Global-AI-Job-Market-Trends-Salary-Insights-2025.git\ngit branch -M main\ngit push -u origin main\n'' returned non-zero exit status 128.